version: '3.8'
services:
  postgres:
    image: postgres:9.6
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=fakedata
      - POSTGRES_PORT=5432
    ports:
      - '5432:5432'